/* Peruselementtien nollaus */
h1 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontti 1. taso */
}
h2 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontti 2. taso */
}
h3 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontti 3. taso */
  font-size: xx-large; /* Suurentaa fontin kokoa */
}
h4 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontti 4. taso */
}
h5 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontti 5. taso */
}
h6 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontti 6. taso */
}
p {
  font-family: "Roboto", sans-serif; /* Kappalefontit */
}
nav {
  font-family: "Merriweather", sans-serif; /* Valikkofontti */
}
footer {
  margin: 0;
  padding: 0;
}

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Kehon (body) perustyylit */
body {
  line-height: 1.6; /* Rivivälin määrittely */
  color: #000080; /* Tekstin väri */
  background-color: #ffffff; /* Taustan väri */
  padding: 20px; /* Sisäinen tyhjä tila ympäri kehoa */
  margin: 0; /* Ulkoinen tyhjä tila */
}

/* Ylätunnisteen (header) tyylit */
header {
  background: #87ceeb; /* Taustaväri */
  color: #000080; /* Tekstin väri */
  padding: 20px; /* Sisäinen tyhjä tila */
  text-align: center; /* Tekstin tasaus keskelle */
  margin-bottom: 20px; /* Ulkoinen tyhjä tila alapuolella */
}

/* Navigointipalkin tyylit */
nav {
  display: flex; /* Flexbox-malli, joka auttaa elementtien asettelussa */
  justify-content: center; /* Tasaa linkit keskelle */
  background: #87ceeb; /* Taustaväri */
  font-size: xx-large; /* Nappien fonttikoko suuremmaksi */
}

nav a {
  color: #000080; /* Linkkien tekstiväri */
  padding: 10px 15px; /* Linkkien sisäinen tyhjä tila */
  text-decoration: none; /* Poistaa linkkien alleviivauksen */
  outline: 2px solid #000080; /* Linkkien reunojen väri */
  margin: 6px; /* Tilaa nappien ympärille */
}

nav a:hover {
  background: #000080; /* Linkkien taustaväri kun hiiri on päällä */
  color: #87ceeb; /* Tekstin väri kun hiiri on linkin päällä */
}

#valittu {
  background: #000080; /* Linkkien taustaväri kun sivu on valittu */
  color: #87ceeb; /* Tekstin väri kun sivu on valittu */
}

/* Pääsisällön (content) tyylit */
.content {
  padding: 20px; /* Sisäinen tyhjä tila */
  background: #ffffff; /* Taustaväri */
  margin: 20px 0; /* Ulkoinen tyhjä tila ylä- ja alapuolella */
}

/* Footerin tyylit */
footer {
  background: #87ceeb; /* Taustaväri */
  color: #000080; /* Tekstin väri */
  text-align: center; /* Tekstin tasaus keskelle */
  padding: 10px; /* Sisäinen tyhjä tila */
  margin-top: 20px; /* Ulkoinen tyhjä tila yläpuolella */
}

/* Apuluokat */
.container {
  max-width: 1100px; /* Maksimileveys */
  margin: auto; /* Keskitetään automaattisesti */
  overflow: hidden; /* Piilottaa ylittävän sisällön */
}

.content-grid {
  display: grid; /* Asetetaan tämä div-elementti käyttämään grid-asettelua */
  grid-template-columns: 1fr 1fr; /* Jaetaan tila kahteen yhtä suureen sarakkeeseen */
  gap: 20px; /* Asetetaan sarakkeiden väliin tilaa */
  max-width: 900px; /* Asetetaan maksimileveys koko gridille */
  margin: 0 auto; /* Keskittää gridin horisontaalisesti sivulle asettamalla automaattisen marginaalin molemmin puolin */
}

.left-column,
.right-column {
  padding: 20px; /* Asetetaan padding sarakkeille, jotta sisältö ei ole aivan kiinni reunassa */
  background: #ffffff; /* Taustaväri helpottamaan erottamista */
}

/* Responsiivisuutta varten */
@media (max-width: 600px) {
  .content-grid {
    grid-template-columns: 1fr; /* Asetetaan yksi sarake mobiilinäkymässä */
  }
}

.fa {
  padding: 20px; /* Tyylit kaikille ikoneille footerissa */
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7; /* Hover efekti */
}

.fa-facebook {
  background: #3b5998; /* Facebookin taustaväri */
  color: white;
}

.fa-instagram {
  background: #125688; /* Instagramin taustaväri */
  color: white;
}

button {
  padding: 10px 20px; /* Lisää tilaa painikkeen ympärille */
  margin: 50px; /* Tilaa napin ympärille */
  background-color: #87ceeb; /* Asettaa painikkeen taustavärin */
  color: #000080; /* Asettaa painikkeen tekstin värin */
  outline: 2px solid #000080; /* Linkkien reunojen väri */
  font-size: xx-large; /* Asettaa tekstin koon */
}

/* Määritellään tyylit painikkeelle, kun hiiri on sen päällä */
button:hover {
  background-color: #000080; /* Tummentaa taustavärin hiiren ollessa painikkeen päällä */
  color: #87ceeb; /* Vaalentaa tekstin värin hiiren ollessa painikkeen päällä */
}

img {
  max-width: 100%;
  height: auto;
} /* Kuvien responsiivisuuden säätöö */

/* Pienet näytöt, kuten matkapuhelimet */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column; /* Asetetaan navigointielementit pinoon pystysuoraan */
  }

  .content-grid {
    grid-template-columns: 1fr; /* Asetetaan kaikki sisältö yhteen sarakeeseen */
  }

  .nav a,
  .fa {
    display: block; /* Asettaa linkit ja sosiaalisen median ikonit omille riveilleen */
    text-align: center; /* Keskittää tekstin */
    margin: 10px 0; /* Lisää tilaa ylä- ja alapuolelle parempaa käytettävyyttä varten */
  }
}

/* Tabletit */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .content-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Kaksi saraketta sisällölle parempaan näkymään */
  }
}

/* Suuremmat näytöt, kuten pöytäkone */
@media screen and (min-width: 1025px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr); /* Kaksi saraketta sisällölle */
  }
  nav {
    justify-content: space-around; /* Tasaa navigointilinkit tasaisesti */
  }
}
