/* Peruselementtien nollaus */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", sans-serif; /* Otsikkofontit */
}

h3 {
  font-size: xx-large; /* Suurentaa fontin kokoa */
}

p,
nav {
  font-family: "Roboto", sans-serif; /* Kappalefontit ja valikkofontti */
}

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  line-height: 1.6; /* Rivivälin määrittely */
  color: #000080; /* Tekstin väri */
  background-color: #ffffff; /* Taustan väri */
  padding: 20px; /* Sisäinen tyhjä tila ympäri kehoa */
}

header {
  background: #87ceeb; /* Taustaväri */
  color: #000080; /* Tekstin väri */
  padding: 20px; /* Sisäinen tyhjä tila */
  text-align: center; /* Tekstin tasaus keskelle */
  margin-bottom: 20px; /* Ulkoinen tyhjä tila alapuolella */
}

.content-grid {
  display: grid; /* Asetetaan tämä div-elementti käyttämään grid-asettelua */
  grid-template-columns: 1fr 1fr; /* Jaetaan tila kahteen yhtä suureen sarakkeeseen */
  gap: 20px; /* Asetetaan sarakkeiden väliin tilaa */
  max-width: 900px; /* Asetetaan maksimileveys koko gridille */
  margin: 0 auto; /* Keskittää gridin horisontaalisesti sivulle */
}

@media (max-width: 600px) {
  .content-grid {
    grid-template-columns: 1fr; /* Yksi sarake mobiilinäkymässä */
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Facebook logo */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Instagram logo */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Nappisäätöjä */
button {
  padding: 10px 20px;
  background-color: #87ceeb;
  color: #000080;
  outline: 2px solid #000080;
  font-size: xx-large;
}

button:hover {
  background-color: #000080;
  color: #87ceeb;
}

img {
  max-width: 100%;
  height: auto;
}

/* Valikkosäätöjä */
nav {
  display: flex;
  justify-content: center;
  background: #87ceeb;
  font-size: xx-large;
}

nav a {
  color: #000080;
  padding: 10px 15px;
  text-decoration: none;
  outline: 2px solid #000080;
  margin: 6px;
}

nav a:hover {
  background: #000080;
  color: #87ceeb;
}

#valittu {
  background: #000080;
  color: #87ceeb;
}

/* Footerin ja sen valikon säätöä */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background: #87ceeb;
  color: #000080;
  padding: 20px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-right: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: #000080;
  padding: 5px;
  margin: 5px 0;
}

.footer-nav a:hover {
  color: #87ceeb;
  background: #000080;
}
